{% extends "layouts/base.html" %}

{% block Pagecontents %}
<div class="my-6 lg:my-12 container px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-4 border-b border-gray-300">
    <div>
        <h4 class="text-2xl font-bold leading-tight text-gray-600">User List</h4>
    </div>
    <div class="mt-6 md:mt-0">
        <button class="mr-3 bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 transition duration-150 ease-in-out rounded hover:bg-gray-300 text-indigo-700 dark:hover:bg-gray-300 px-5 py-2 text-sm">Back</button>
        <button class="transition focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm">Edit</button>
    </div>
</div>
<div class="my-6 lg:my-12 container px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-4 border-b border-gray-300">
    <div class="w-full overflow-x-auto">
        <table class="table-auto w-full border-collapse border border-gray-300 shadow-md rounded-lg overflow-hidden">
            <thead class="bg-gray-100">
                <tr>
                    <th class="text-center px-4 py-2 text-sm font-medium text-gray-700 border-b border-gray-300">Username</th>
                    <th class="text-center px-4 py-2 text-sm font-medium text-gray-700 border-b border-gray-300">Role</th>
                    <th class="text-center px-4 py-2 text-sm font-medium text-gray-700 border-b border-gray-300">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="hover:bg-gray-100 transition-colors">
                    <td class="px-4 py-2 text-center text-sm text-gray-700 border-b border-gray-300">{{ user.username }}</td>
                    <td class="px-4 py-2 text-center text-sm text-gray-700 border-b border-gray-300">{{ user.role }}</td>
                    <td class="px-4 py-2 text-center text-sm text-gray-700 border-b border-gray-300">
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock Pagecontents %}
