{% extends "registrations/home.html" %}
{% load widget_tweaks %}
{% load static %}
{% block contentblock %}
{% include "registrations/navigation.html" %}
    <!-- Container -->
    <div class="flex flex-col md:flex-row min-h-screen w-full content-center justify-center bg-gray-400">
      <!-- Login component -->
      <div class="flex shadow-md">
        <!-- Login form -->
        <div class="flex flex-col content-center justify-center rounded-l-md bg-rose-200 p-6 md:w-1/2">
          <div class="w-full max-w-sm mx-auto">
            <!-- To show success and error messages -->
            {% if messages %}
              <div class="space-y-4">
                {% for message in messages %}
                  <div class="p-4 border-l-4 {% if message.tags == 'error' %}bg-red-100 border-red-500 text-red-700{% elif message.tags == 'success' %}bg-green-100 border-green-500 text-green-700{% elif message.tags == 'warning' %}bg-yellow-100 border-yellow-500 text-yellow-700{% elif message.tags == 'info' %}bg-blue-100 border-blue-500 text-blue-700{% else %}bg-gray-100 border-gray-500 text-gray-700{% endif %} rounded-md shadow-md" id="message-alert">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            <!-- Heading -->
            <h1 class="text-2xl font-semibold text-gray-800 text-center">Welcome back</h1>
            <p class="text-gray-400 text-center">Please enter your details</p>

            <!-- Form -->
            <form class="mt-6" method="post">
              {% csrf_token %}
              <div class="mb-4">
                <label for="id_username" class="block text-sm font-medium text-gray-700">Username:</label>
                {{ form.username|add_class:"mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900" }}
              </div>
              <div class="mb-4">
                <label for="id_password" class="block text-sm font-medium text-gray-700">Password:</label>
                {{ form.password|add_class:"mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900" }}
              </div>
              <div class="mb-4">
                <label for="id_role" class="block text-sm font-medium text-gray-700">Role:</label>
                {{ form.role|add_class:"mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900" }}
                {% if form.role.errors %}
                  <p class="text-red-500 text-sm mt-1">{{ form.role.errors.0 }}</p>
                {% endif %}
              </div>
              <div class="mb-4 flex items-center justify-between">
                <div class="flex items-center">
                  <input id="remember" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                  <label for="remember" class="ml-2 block text-sm text-gray-900">Remember me</label>
                </div>
                <div class="text-sm">
                  <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                </div>
              </div>
              <div class="mb-4">
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Sign in
                </button>
              </div>
            </form>

            <!-- Footer -->
            <div class="text-center mt-6">
              <p class="text-gray-600 text-sm">Don't have an account? <a href="{% url 'registrations:register' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Sign up</a></p>
            </div>
          </div>
        </div>

        <!-- Image Section -->
        <div class="hidden md:flex md:w-1/2 bg-indigo-100 rounded-r-md">
          <img class="w-full h-full object-cover rounded-r-md" src="{% static 'assets/login.png' %}" alt="Login Image">
        </div>
      </div>
    </div>
    {% include "registrations/footer.html" %}
{% endblock contentblock %}