{% extends "registrations/home.html" %}
{% load widget_tweaks %}
{% load static %}
{% block contentblock %}
{% include "registrations/navigation.html" %}
<section class="flex flex-col items-center justify-center mt-40 p-6">
  <div class="text-center mb-4">
    <h4 class="text-lg font-bold">Register</h4>
  </div>
  <div class="flex-auto p-6 max-w-md w-full">
    <form method="post" class="space-y-4">
      {% csrf_token %}
      <div>
          <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700">
              {{ form.username.label_tag }}
          </label>
          {{ form.username|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700" }}
          <p class="text-red-500 text-sm mt-1">{{ form.username.errors }}</p>
      </div>
  
      <div>
          <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">
              {{ form.email.label_tag }}
          </label>
          {{ form.email|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700" }}
          <p class="text-red-500 text-sm mt-1">{{ form.email.errors }}</p>
      </div>
  
      <div>
          <label for="{{ form.password1.id_for_label }}" class="block text-sm font-medium text-gray-700">
              {{ form.password1.label_tag }}
          </label>
          {{ form.password1|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700" }}
          <p class="text-red-500 text-sm mt-1">{{ form.password1.errors }}</p>
      </div>
  
      <div>
          <label for="{{ form.password2.id_for_label }}" class="block text-sm font-medium text-gray-700">
              Confirm Password:
          </label>
          {{ form.password2|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700" }}
          <p class="text-red-500 text-sm mt-1">{{ form.password2.errors }}</p>
      </div>
  
      <div>
          <label for="{{ form.role.id_for_label }}" class="block text-sm font-medium text-gray-700">
              {{ form.role.label_tag }}
          </label>
          {{ form.role|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700" }}
          <p class="text-red-500 text-sm mt-1">{{ form.role.errors }}</p>
      </div>
      <div class="flex items-center">
        <input type="checkbox" class="mr-2 h-4 w-4" id="terms" />
        <label class="text-sm text-slate-700" for="terms">I agree to the <a href="javascript:;" class="font-bold text-slate-700">Terms and Conditions</a></label>
      </div>
      <div class="text-center">
        <button type="submit" class="inline-block w-full px-5 py-2.5 mt-6 font-bold text-white bg-gradient-to-tl from-zinc-800 to-zinc-700 rounded-lg hover:bg-slate-700 hover:text-white transition">Sign up</button>
      </div>
      <p class="mt-4 mb-0 text-sm text-center">Already have an account? <a href="{% url 'registrations:login' %}" class="font-bold text-slate-700">Sign in</a></p>
    </form>
  </div>
</section>

{% include "registrations/footer.html" %}
{% endblock contentblock %}